
.table div>button{
    border-color: #b5b9be;
    border-radius:.8em;
}
$border-radius:2rem;
$table-hover-bg: rgba(rgb(90, 146, 250), .2);

@import "../../bootstrap/scss/bootstrap";


.main-form{
    width: auto;
    margin: auto;
}