{% extends "form.html" %}
{% block content1 %}
<label>
    <a style="color: #ffc105;">Środki</a>
    <div id="money">
        <b style="color: #ffc107;">{{money}}$</b>
    </div>
</label>
{% endblock %}
{% block content2 %}
<table class="table table-striped table-hover sticky">
    <thead class="thead-dark">
        <tr>
            <th class="align-middle" scope="col">#</th>
            <th class="align-middle" scope="col">Stock
                <button type="submit" class="btn btn-outline-secondary rounded-circle" name={{1}}>^</button>
            </th>
            <th class="align-middle" scope="col">Price
                <button type="submit" class="btn btn-outline-secondary rounded-circle" name={{2}}>^</button>
            </th>
            <th class="align-middle" scope="col">Change
                <button type="submit" class="btn btn-outline-secondary rounded-circle" name={{3}}>^</button>
            </th>
            <th class="align-middle" scope="col">Change perc
                <button type="submit" class="btn btn-outline-secondary rounded-circle" name={{4}}>^</button>
            </th>
            <th class="align-middle" scope="col">Opening
                <button type="submit" class="btn btn-outline-secondary rounded-circle" name={{5}}>^</button>
            </th>
            <th class="align-middle" scope="col">Max
                <button type="submit" class="btn btn-outline-secondary rounded-circle" name={{6}}>^</button>
            </th>
            <th class="align-middle" scope="col">Min
                <button type="submit" class="btn btn-outline-secondary rounded-circle" name={{7}}>^</button>
            </th>
            <th class="align-middle" scope="col">Buy/Sell</th>
            <th class="align-middle" scope="col">O/V</th>
            <th class="align-middle" scope="col">Profit</th>
        </tr>
    </thead>
    <tbody id="stocks">
        {% for stock in stocks %}
        <tr>
            <td class="align-middle">{{stocks.index(stock)+1}}</td>
            <td class="align-middle" id="name{{stocks.index(stock)}}">{{stock['name']}}</td>
            <td class="align-middle" id="price{{stocks.index(stock)}}">{{stock['price']}}</td>
            <td class="align-middle" id="change{{stocks.index(stock)}}">{{stock['change']}}</td>
            <td class="align-middle" id="perc{{stocks.index(stock)}}">{{stock['perc']}}%</td>
            <td class="align-middle" id="opening{{stocks.index(stock)}}">{{stock['opening']}}</td>
            <td class="align-middle" id="stock_max{{stocks.index(stock)}}">{{stock['stock_max']}}</td>
            <td class="align-middle" id="stock_min{{stocks.index(stock)}}">{{stock['stock_min']}}</td>
            <td class="align-middle">
                <form class="form-inline">
                    <div>
                        <input type="number" class="form-control" id="Stock_Input{{stocks.index(stock)}}" min="0" max="100000" value="0">
                        <button id="buy_button{{stocks.index(stock)}}" type="button" class="btn btn-outline-success" row_id="{{stocks.index(stock)}}" member_id="{{stock['id']}}">B</button>
                        <button id="sell_button{{stocks.index(stock)}}" type="button" class="btn btn-outline-danger" row_id="{{stocks.index(stock)}}" member_id="{{stock['id']}}">S</button>
                    </div>
                </form>
            </td>
            <td class="align-middle">
                <div id="quantity{{stocks.index(stock)}}">Owned: {{quantity[stock['id']]}}</div>
                <div id="bought{{stocks.index(stock)}}">Value: {{bought[stock['id']]}}$</div>
            </td>
            <td class="align-middle" id="profit{{stocks.index(stock)}}">{{profit[stock['id']]}}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}